/*O seletor * seleciona cada um dos elementos do meu documento html*/
*{
	/* Zerar as propriedades de margin e padding de todos os elementos, 
	assim teremos maior controle sobre o conteúdo.*/
	margin: 0;
	padding: 0;
}


/*Seleciona o elemento "body"*/
body{
	/*Define a família da fonte de texto*/
	font-family: Camphor Pro, Myriad Variable Concept, sans-serif;
	/*Define o tamanho de fonte padrão para a página*/
	font-size: 18px;
	background-color: #FFF;
}
/*Onde está todo o conteúdo do site: cabeçalho, conteúdo e rodapé*/
#container{
	/*Define a largura mínima do container*/
	min-width: 600px;
	/*Define a largura máxima do container*/
	max-width: 960px;
	/*Define a cor de fundo*/
	background-color: #FFFFFF;
	/*Essa propriedade vai centralizar este elemento*/
	/*0 de espaçamento top e bottom*/
	/*mesmo espaçamento de margin nas laterais - cálculo automático*/
	margin: 0 auto;
}

/***********************/
/******CABEÇALHO********/
/***********************/

header{
	/*Define a largura ocupada pelo elemento header, sendo que ele
	vai ocupar 100% da largura disponível aonde ele está*/
	width: 100%;
	height: 70px;
	background-color: #573258;
	/*Centraliza os textos do header*/
	text-align: left;
}

/*Seleciona o elemento h1 que esteja dentro de um elemento header*/
header h1{
	/*Padding no topo e na parte inferior*/
	padding: 0;
	color: #FFF;
	margin-left: 50px;
	margin-top: 80px;
	margin-right: 25px;
	font-family: Camphor Pro, Myriad Variable Concept, sans-serif;
	color:#940F5E;
	font-size: 40px;
}

/*Seleciona as imagens que estejam dentro de um elemento header*/
header img {
	width: 73px;
	float: right;
	padding-top: 20px;
}

/***********************/
/******MENU NAV********/
/*********************/

header nav{
	background-color: #FFFFFF;
	width: 100%;
	height: 75px;
	padding:15px;
}

header nav img{
	width: 100px;
	float: left;
	padding-top:0px;

}

header nav ul{
	padding-top: 30px;
	text-align: center;
}

header nav ul li{
	display: inline-block;
	list-style-type: none;
	padding: 8px 10px;
	margin-right: 20px;
}

header nav ul li:hover,
header nav ul li:active{
	background-color: #E0C419;
}

header nav ul li a{
	text-decoration: none;
	color:#078A94;
	font-weight: bold;
}


/***********************/
/*****FORMULÁRIO******/
/*********************/

form{
	padding-left: 30px;
}

.pessoais{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 300px;
	color: #940F5E;
	line-height: 45px;
	border-width: 10px;
	border-style: none;
	margin-top: 100px;
}

form fieldset h1{
	font-size: 30px;
}

fieldset h2{
	font-family: Camphor Pro, Myriad Variable Concept, sans-serif;
	font-size: 40px;
	color: #940F5E;
}

fieldset h3{
	font-size: 20px;
}

fieldset h5{
	font-size: 20px;
	color: #940F5E;
	font-family: Camphor Pro, Myriad Variable Concept, sans-serif;
}

label{
	font-family: Camphor Pro, Myriad Variable Concept, sans-serif;
	font-size: 20px;
	color: #940F5E;
}

#adoção{
	color:#940F5E;
	padding-right: 20px;

}

#pq{
	color:#940F5E;
	padding-right: 20px;
}

.sobreadoçao{
	font-family: Camphor Pro, Myriad Variable Concept, sans-serif;
	font-size: 20px;
	font-weight: 300px;
	color: #940F5E;
	line-height: 45px;
	border-width: 10px;
	border-style: none;
	
}


#enviar{
	font-family: Camphor Pro, Myriad Variable Concept, sans-serif;
	font-size: 13px;
	color:#FFF;
	background-color: #940F5E;
	width: 10%

}

input{
	margin-left: 5px;
	border-radius: 10px;
	border-width: thin;
}

form select{
	border-radius: 10px;
	height: 25px;
}

#idnome{
	padding-left: 15px;
}
#idnasci{
	padding-left: 15px;
}
#idemail{
	padding-left: 15px;
}
#idrua{
	padding-left: 15px;
}
#idnumero{
	padding-left: 15px;
}
#idcomplemento{
	padding-left: 15px;
}
#idcidade{
	padding-left: 15px;
}
#idarea1{
	padding-left: 15px;
}
#idarea2{
	padding-left: 15px;
}
textarea{
	padding-left: 15px;
	padding-top: 15px;
	font-family: Camphor Pro, Myriad Variable Concept, sans-serif;

}
/***********************/
/***** RODAPÉ *********/
/*********************/


footer{
	width: 100%;
	height: 530px;
	background-color:#940F5E;
	text-align: center;
}


.linha2{
	text-align: left;
	margin-top: 100px;
	vertical-align: top;
	padding: 30px;
}

ion-icon{
	height: 30px;
	color: #E0C419
}


#redes{
	padding-left: 28px;
}


footer p{
	font-size: 18px;
	width: 100%;
	color: #FFF;
	margin-right: 20px;
	vertical-align: middle;
	display: inline;
}

footer img{
	width: 100%;
	float: left;
	margin-top: 250px;
}

footer nav{
	width: 100%;
	height: 75px;
}


footer nav ul li{
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
}

footer nav ul li a{
	text-decoration: none;
	font-weight: bold;

}



